.main {
	section { margin-bottom: 40px; }
	
	section.vouchercode,
	section.price-breakd { margin-bottom: 0; } 
}


.section__content {
	padding: 25px 30px;
	
	background-color: $bg-section;	
	border: 2px solid $border-section;
	border-radius: 5px;
}

.section__title {
	color:  $title-section;
	font-weight: 600;
	letter-spacing: 1px;
}

.title-secondary {
	color: $v-dark;
	font-size: 1.2rem;
	font-weight: 600;	
}



// FLIGHT__DETAILS
.flights-info__wrap {
	padding: 25px 25px;
		
	.flights-info__top {
		margin-bottom: 50px;
		height: 35px;

		font-size: .8rem;
		color:  #bdbdbd;
	}
	
	.flights-info__body {
		display: flex;
		justify-content: space-between;
		
		&__departure {
			flex: 1;
			
			.time { 
				font-size: 1.4rem;
				color:  #3a4351;
			}
		}
		
		&__route {
			display: flex;
			flex-direction: column;			
			flex: 2;
			
			.route__icons {
				display: flex;
				justify-content: space-between;
				
				font-size: .8rem;
				color:  #696969;
			}
			
			.route__timeline { margin: 10px 0; }
			
			.route__airport {
				display: flex;
				justify-content: space-between;
				
				font-weight: 700;	
				color:  #3a4351;
			}
		}
	}	
	
	&-separator { border-left: 2px solid $border-section; }
}
// END --> FLIGHT__DETAILS



//  PASSENGERS INFORMATION
.passengers-info {
	
	input {
		width: 100%;

		font-size: 1.1rem;
		
		background-color: transparent;
		border-width: 2px;
		border-radius: 5px;
		transition: all .25s;
	}
		
	input[type='tel'] { width: 65%; }
	
	input[type='email']:invalid {
		border: 2px solid #D55C5F;
		color: #D55C5F;
	}

		
	select {
		position: relative;
	
		width: 100%;
		padding: .9rem .75rem;
		
		font-size: 1.1rem;
		line-height: 1.25;
		
		background-color: transparent;
		border: 2px solid #e0e0e0;
		border-radius: 5px;
	
		cursor: pointer;
		outline: none;
		appearance: none;
		z-index: 15;		
	}
	
	.select-wrapper {
    	position: relative;
		width: 100%;
	}
	
	.select-wrapper-sm { width: 34%; }
	
	.select-wrapper:after {
		content: '';
		
		position: absolute;
		top: 0;
		right: 0;
		
		display: inline-block;
		width: 35px;
		height: 98%;
				
		border-left: 2px solid #e0e0e0;
		border-right: 2px solid transparent;

		background: url('../img/icon-arrowDown.png') no-repeat center center;
		z-index: 5;
	}
	
	
	.date-select__wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		.select-wrapper { width: 33%; }
	}
}
//  END --> PASSENGERS INFORMATION



// BAGGAGE
.baggage-info {
	
	&__default {
		padding: 15px 30px;
		
		border: 2px solid #e0e0e0;
		border-radius: 5px;
		
		.baggage__dimensions { margin-left: 50px; }
	}
	
	&__additional {
		padding: 5px 20px;
		margin: 0 35px;
		
		background-color: #e0e0e0;
		border: 2px solid #e0e0e0;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	&__type {
		font-size: 1.2rem;
		color: $v-grey-dark;
		
		i { 
			vertical-align: sub; 
			margin-right: .25rem;
		}
	}
	
	&__dimensions,
	&__cost {
		font-size: .9rem;
		color: $v-grey-dark;
	}	
}
// END --> BAGGAGE



// VOUCHERCODE
.vouchercode {
	margin-bottom: 0;
	background-color:  transparent;	

	input[type="text"] {
		padding: 10px 15px;
		width: 100%;
		
		color: $v-dark;
		font-size: 1.2rem;
		
		border: 2px solid #e0e0e0;
		border-radius: 5px;
		transition: all .25s;
	}
	
	input:focus { background-color: #fcf5e9; }
}
// END --> VOUCHERCODE



//  PRICE__BREAKDOWN
.price-breakd {
		
	&__list { margin: 0; }
	
	&__row {
		display: flex;
		justify-content: space-between;
				
		color: $v-dark;
		font-size: 1.1rem;
		font-weight: 500;
		
		&:not(:last-child) { margin-bottom: 20px; }
		
		&:last-child {
			padding: 8px 0;
			
			font-size: 1.4rem;
			font-weight: 600;
			border-top: 2px solid $border-section;
		}
		
		&.total {
			font-size: 1.2rem;
			font-weight: 600;
			margin-bottom: 8px;
		}
	}
}
//  END --> PRICE__BREAKDOWN