@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}


body { 
	font-family: 'Roboto', sans-serif; 
	overflow-x: hidden;
}